// Created by Jonee Ryan Ty
// Copyright ACloudApp

/**
 * (Secret) Configuration
 */

package configuration

const (
	// EMAIL_SMTP_FROM_ACCOUNT  = "acloudapporg@gmail.com"
	// EMAIL_SMTP_FROM_PASSWORD = ""
	// EMAIL_SMTP_SERVER   = "smtp.gmail.com"
	// EMAIL_SMTP_PORT     = 587

	AWS_REGION            = "us-east-1"                                // for ses and s3 upload
	AWS_ACCESS_KEY_ID     = "XXXXXXX"                     // for ses and s3 upload
	AWS_SECRET_ACCESS_KEY = "XXXXXXXXXXXXXXXXXXXXXXXXXX" // for ses and s3 upload
	// AWS_S3_BUCKET         = "acloudapp" // for s3 upload
	EMAIL_FROM_ACCOUNT = "acloudapporg@gmail.com" // amazon ses

	JWT_SECRET_STRING = "asdfsafsfsdfsdfds12334543543" // should be the same as other backend codes
)
