// Created by Jonee Ryan Ty
// Copyright ACloudApp

/**
 * (Secret) Configuration
 */

package configuration

const (
	ACCOUNT_EMAIL_VALIDATION_LINK_PREFIX = "https://service.us.apiconnect.ibmcloud.com/gws/apigateway/api/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/%%stage%%/account/email_validation/"
)
